<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>COVIDAPP</title>

<link href="../css/bootstrap.min.css" rel="stylesheet">
<script src="../js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <!-- img
				style="width: 15%; height: 80%;" src="../images/COVIDAPP.png" -->COVIDAPP
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/salir}">Salir</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Acerca de</a></li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Buscar"
						aria-label="Buscar">
					<button class="btn btn-outline-success" type="submit">Buscar</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col-6">
				<br>
				<ul class="nav nav-tabs" role="tablist">

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" id="tab-contactos" data-bs-toggle="tab"
						href="#contactos">Contactos</a></li>
					<li class="nav-item"><a class="nav-link" aria-current="page"
						id="tab-acciones" data-bs-toggle="tab" href="#acciones">Acciones</a></li>
					<li class="nav-item"><a class="nav-link" id="tab-agregar"
						data-bs-toggle="tab" href="#agregar">Agregar contacto</a></li>
					<li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
						id="tab-notificaciones" href="#notificaciones">Notificaciones&nbsp;<span
							class="badge bg-danger">0</span></a></li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="contactos"
						role="tabpanel" aria-labelledby="tab-contactos">
						<div th:if="${lleno}">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Nombre</th>
										<th scope="col">Edad</th>
										<th scope="col">Sexo</th>
										<th scope="col">PCT</th>
										<th scope="col">PCG</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="contacto : ${contactos}">
										<td th:text="${contacto.nombre}"></td>
										<td th:text="${contacto.edad}"></td>
										<td th:text="${contacto.sexo}"></td>
										<td th:text="${contacto.pct}"></td>
										<td th:text="${contacto.pcg}"></td>
									</tr>
								</tbody>
							</table>
							<div
								style="width: 100px; height: 100px; border-radius: 50%; font-size: 20px; text-align: center; border-color: black">
								<p th:text="${pcg}"></p>
							</div>
							<div>
								<h4 th:text="${pcgtxt}"></h4>
							</div>
						</div>
						<div th:unless="${lleno}">
							<strong>No hay contactos que mostrar.</strong>
						</div>


					</div>
					<div class="tab-pane fade" id="acciones" role="tabpanel"
						aria-labelledby="tab-acciones">
						<br>
						<form th:action="@{/log/notifica}" method="get">
							<img width="10%" height="10%" src="../images/virus.png"> <input
								type="hidden" value="1"> <input type="submit"
								class="btn btn-outline-primary" name="status" value="¡Estoy contagiado!">
						</form>

						<form th:action="@{/log/notifica}" method="get">
							<img width="10%" height="10%" src="../images/cardiograma.png">
							<input type="hidden" value="0" name="status"> <input type="submit"
								class="btn btn-outline-primary" value="¡Estoy recuperado!">
						</form>
					</div>
					<div class="tab-pane fade" id="agregar" role="tabpanel"
						aria-labelledby="tab-agregar">
						<br>
						<div class="mb-3">
							<input class="form-control me-2" style="width: 40%; float: left;"
								type="email" placeholder="Buscar por usuario" id="busqueda"
								aria-label="Buscar">
							<button class="btn btn-outline-success" id="buscar">Buscar</button>
						</div>
						<div id="mensaje"></div>
						<form th:action="@{/log/agregacontacto}" method="post">
							<input type="hidden" value="0" id="uid" name="uid">
							<div class="mb-3">
								<label for="nombre" class="form-label">Nombre completo</label> <input
									type="text" class="form-control" id="nombre" name="nombre"
									required>
							</div>
							<div class="mb-3">
								<label for="edad" class="form-label">Edad</label> <input
									type="number" class="form-control" id="edad" name="edad"
									required>
							</div>
							<div class="mb-3">
								<label for="sexo" class="form-label">Sexo</label> <select
									class="form-select" id="sexo" name="sexo" required>
									<option value="">-- Selecciona una opción --</option>
									<option value="M">Mujer</option>
									<option value="H">Hombre</option>
								</select>
							</div>
							<div class="mb-3">
								<label for="pct" class="form-label">Probabilidad de
									contacto</label> <input type="number" class="form-control" id="pct"
									name="pct" required>
							</div>
							<div class="mb-3">
								<label for="pct" class="form-label">Probabilidad de
									contagio</label> <input type="number" class="form-control" id="pcg"
									name="pcg" required>
							</div>
							<button type="submit" class="btn btn-primary">Agregar</button>
						</form>

					</div>
					<div class="tab-pane fade" id="notificaciones" role="tabpanel"
						aria-labelledby="tab-notificaciones">...</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<script src="../js/jquery-3.5.1.min.js"></script>
	<script>
		function obten_notificaciones(){
			console.log("pase");
			$.post("http://localhost:8080/inicio/log/obtennotificaciones",function(data){
				$("#notificaciones").empty();
				if(data["msg"]=="error"){
					$("#notificaciones").append("<b>No hay notificaciones</b>");
					return;
				}
				var leer = 0;
					var etiqueta = "<table class ='table'><thead><tr><th scope='col'>Contacto</th><th scope='col'>Estado</th><th scope='col'>Fecha</th><th scope='col'>Leido</th></tr></thead><tbody>";
					for(var i = 0; i < parseInt(data["longitud"]); i++){
						var estado = (data["tipo" + i] == "1")?"contagiado":"recuperado";
						var leido = (data["leido" + i] == "0")?"<b>No</b>":"Sí";
						if(data["leido" + i] == "0"){
							leer++;	
						}
						etiqueta +="<tr><td>" + data["contacto" + i] + "</td><td>" + estado + "</td><td>" + data["fecha" + i] + "</td><td>" + leido + "</td><tr>";
					}
					etiqueta +="</tbody><table>";
					$("#notificaciones").append(etiqueta);
					$(".badge").text(leer);
			});
			
		}
		$(document).ready(
				
					
						function() {
							obten_notificaciones();
							setInterval(obten_notificaciones,3000);
							$("#buscar")
									.click(
											function() {
												$
														.post(
																"http://localhost:8080/inicio/log/busqueda",
																{
																	'correo' : $(
																			"#busqueda")
																			.val()
																},
																function(data) {
																	if (data["msg"] == "error") {
																		$(
																				"#mensaje")
																				.append(
																						"<div class='alert alert-warning alert-dismissible fade show' role='alert'>El usuario que buscas no existe.<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button></div>");
																		return;
																	}
																	$("#nombre")
																			.val(
																					data["nombre"]);
																	$("#edad")
																			.val(
																					data["edad"]);
																	$("#sexo")
																			.val(
																					data["sexo"]);
																	$("#pct")
																			.val(
																					"0.0");
																	$("#pcg")
																			.val(
																					"0.0");
																	$("#uid")
																			.val(
																					data["uid"]);
																});
											});
						});
	</script>
</body>
</html>